# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Static files (ANYWHERE in the repo)
staticfiles/
**/staticfiles/

# Ignore Django admin static if copied
**/static/admin/

# Node
node_modules/

# Build
dist/
build/

# Env files
.env

*.zip

.gitignore
SE Task Submissions/Level 3/03-010 Containers – Docker.pdf
SE Task Submissions/Level 2/Web Development Overview/WebFundementals.pdf
SE Task Submissions/Level 2/Web Development Overview/05-001-1 Web Development Overview.pdf
SE Task Submissions/Level 2/Unit Testing/03-019 Unit Testing.pdf
SE Task Submissions/Level 2/Systems Architecture/03-007-1_System Architecture.pdf
SE Task Submissions/Level 2/SQLite/12-005-1_SQLite.pdf
SE Task Submissions/Level 2/SQL/12-004-1_SQL.pdf
SE Task Submissions/Level 2/Software Design/03-018 Software Design.pdf
SE Task Submissions/Level 2/Semantic HTML/05-003_Semantic HTML.pdf
SE Task Submissions/Level 2/Relational Databases/Relational Databases.pdf
SE Task Submissions/Level 2/Relational Databases/12-003-1_Relational Databases.pdf
SE Task Submissions/Level 2/OOP - Modules/03-020 OOP – Modules.pdf
SE Task Submissions/Level 2/Network Protocols and Systems Architecture/03-012 Network Protocols and System Architecture.pdf
SE Task Submissions/Level 2/HTML Overview/05-002-1_HTML Overview.pdf
SE Task Submissions/Level 2/Django - Sticky Notes 1 and 2/06-049-2 Django – Sticky Notes Application Part 2.pdf
SE Task Submissions/Level 2/Django - Sticky Notes 1 and 2/06-049-1 Django – Sticky Notes Application Part 1.pdf
SE Task Submissions/Level 2/Django - Ecommerce 1 & 2/06-051 Django – eCommerce Application Part 2.pdf
SE Task Submissions/Level 2/Django - Ecommerce 1 & 2/06-050 Django – eCommerce Application Part 1.pdf
SE Task Submissions/Level 2/Databases/12-002-1_Databases.pdf
SE Task Submissions/Level 2/CSS Overview/05-005-1_CSS Overview.pdf
SE Task Submissions/Level 2/Capstone - News Application/06-052 Capstone Project – News Application.pdf
SE Task Submissions/Level 2/Capstone - Databases/12-011_Capstone Project – Databases.pdf
SE Task Submissions/Level 2/Bootstrap/05-009 Bootstrap.pdf
SE Task Submissions/Level 1/Data Structures - 2D Lists/10-026_Data Structures – 2D Lists.pdf
SE Task Submissions/Level 1/Capstone - Task Manager/10-033 Capstone Project – Task Manager.pdf
